@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: black;
    text-decoration: none;
}

main {
    padding: 8px;
}

a {
    color: white;
    text-decoration: none;
}
h4 {
    color:white;
}

span {
    color: white;
}
/* Navbar */
header {
    background-color: #2C2C2C;
}

nav {
    overflow: hidden;
    margin-right: 5em;
    text-align: right; /* Aligns the navbar content to the right */
}

    nav a {
        display: inline-block; /* Displays the navbar links horizontally */
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        nav a:hover {
            font-weight: bold;
        }

    nav .active {
        font-weight: bold;
    }


.trending-movies{
    margin-left:2.5em;
}
.trending-text {
    color: white;
    font-size: 1.5em;
    margin-bottom:0;
}

.filters {
    padding: 2.3em;
}

.search-right-container {
    display: flex;
    justify-content: flex-end;
    padding-right:3em;
}

.search-content {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}


    .search-bar input[type="text"] {
        width: 300px; /* Adjust the width as desired */
        margin-right: 10px;
    }


.page-info {
    margin-top: 10px;
}



.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .pagination-container a {
        display: inline-block;
        text-align: center;
        padding: 8px 12px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 4px;
        margin-right: 1em;
        margin-left: 1em;
    }



    .pagination-container span {
        display: inline-block;
        text-align: center;
        padding: 8px 12px;
        font-size: 18px;
        color: white;
        border: 2px solid white;
        border-radius: 4px;
        opacity: 0.3; /* To visually indicate disabled state */
        cursor: not-allowed; /* To prevent clicking on disabled state */
        margin-right: 1em;
        margin-left: 1em;
    }


/* Layout */
.movies-container {
    overflow-x: auto;
    white-space: nowrap;
    margin: 1.5em 2em 2.5em 2em;
/*    width: 95%;*/
}

.card-container {
    display: inline-flex; /* Change to inline-flex to ensure all cards stay in a single row */
}

.card {
    width: 185px;
    height: 359px;
    border-radius: 3px;
    margin-right: 1em; /* Add margin-right to create spacing between cards */
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
}
    .card:last-child {
        margin-right: 0;
    }
.card-image img {
    width: 185px;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 10px;
    flex-grow: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card-content h2 {
        font-size: 1rem;
        margin: 0;
        height: 40px;
        overflow: hidden;
        color: white;
    }

.titleHolder {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 44px;
    line-height: 22px;
}

    .titleHolder h2 {
        font-size: 1rem;
        margin: 0;
        color: white;
    }

.card-content .button-container {
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    margin-bottom: 0; /* Remove the margin-bottom */
}

.card-content form .button-container {
    margin-top: 0;
    margin-bottom: 0; /* Remove the margin-bottom */
}

.card-content form {
    display: flex;
    justify-content: center;
    margin-bottom: 0; /* Remove the margin-bottom */
}

.card-content button {
    width: 169px;
    height: 30px;
    font-size: 1rem;
    background-color: #2C2C2C;
    color: #5899EF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 0; /* Remove the margin-bottom */
}

    .card-content button.saved {
        color: #FFE5E5;
    }
