
<header>
    <!-- Navbar -->
    <nav>
        <a href="@Url.Action("Index", "Home")">Home</a>
        <a href="@Url.Action("savedMovies", "Home")">Saved</a>


        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Logout", "Login")">Logout</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Login")">Login</a>
        }
    </nav>
</header>