<header>
    <nav>
        <div class="title">
            <a href="@Url.Action("Index", "Home")">
                Movie<span class="app">App</span>
            </a>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="links">
                <a href="@Url.Action("savedMovies", "Home")">Saved</a>
                <a href="@Url.Action("Logout", "Login")">Logout</a>
            </div>
        }
        else
        {
            <div class="links">
                <a href="@Url.Action("Index", "Login")">Login</a>
            </div>
        }
    </nav>
</header>
